<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="HWewCG6QIhSzj7_9zczmNVwIa91oLJgpk0SXwwG6JB0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="icon" href="{{ '/assets/favicon.png' | relative_url }}" type="image/png">
  </head>
  <body>
    <div class="wrapper">
      <nav class="topnav">
  <ul>
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/about' | relative_url }}">About</a></li>
    <li><a href="{{ '/research' | relative_url }}">Research</a></li>
    <li><a href="{{ '/contact' | relative_url }}">Contact</a></li>
  </ul>
</nav>
      <br>
      <br>
      <header>
  <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
  
  {% if site.logo %}
    <img src="{{site.logo | relative_url}}" alt="Logo" />
  {% endif %}
<br>
<br>
  <a href="https://connorlubsen.github.io/CV/ConnorLubsenCV.pdf" target="_blank" class="cv-button">Download CV</a>
<br>
<br>
        
  <!-- Navigation Menu -->
  <nav>
  <ul class="nav-menu">
    <li>
      <a href="https://orcid.org/0009-0000-9077-4875">
        <i class="fa-brands fa-orcid" style="color: gray;"></i>  ORCiD
      </a>
    </li>
    <li>
      <a href="https://scholar.google.com/citations?hl=en&view_op=list_works&gmla=AIfU4H7QSmH4XRpNMzCHLY16f-Chda6TBkVDBwyXV3do_jL20yuWi1dadYty52XHSBter22il_gMtbCY5Uj4Pg&user=6YslCroAAAAJ">
        <i class="fa-solid fa-graduation-cap" style="color: gray;"></i> Google Scholar
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/connorlubsen/">
        <i class="fa-brands fa-linkedin" style="color: gray;"></i>  LinkedIn
      </a>
    </li>
  </ul>
</nav>

  <!-- Contact Info -->
  <p>Department of Economics<br />
     College of Business Department 3985<br />
     Laramie, WY 82071<br />
    <br>
     clubsen@uwyo.edu<br />
  </p>
</header>
      <section>
        
      {{ content }}

      </section>
      
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
